body.locked {
  overflow: hidden;
}

main {
  margin-top: 3.6rem;
}
main .container {
  background-color: #fff;
  padding: 2.5rem 5rem 8rem;
  border-radius: 10px;
}

.r-1 {
  flex-direction: flex-end;
}

.main-title {
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  font-size: 3rem;
  color: #414141;
  margin-right: 5.75rem;
  margin-top: 2.6rem;
}

.chart-block {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 2.6rem;
}

.circle-block {
  position: relative;
  display: flex;
  width: 2.35rem;
  height: 2.35rem;
  border-radius: 50%;
  border: 0.35rem solid #d5d5d5;
}

.circle-block.active {
  border: 0.35rem solid #3a8af7;
}
.circle-block.active .circle {
  background-color: #3a8af7;
}
.circle-block.active .circle-block-text {
  color: #3a8af7;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.35rem;
  height: 1.35rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}

.circle-block-text {
  position: absolute;
  width: 7rem;
  text-align: center;
  bottom: -1.8rem;
  left: 50%;
  transform: translate(-50%, 100%);
  color: #d5d5d5;
  font-size: 1rem;
  line-height: 1.3rem;
}

.line-block {
  width: 12.3rem;
  height: 0.35rem;
  background-color: #d5d5d5;
}

.r2 {
  margin-top: 5.8rem;
  justify-content: space-between;
}

.customer-block {
  width: 43.47%;
}

.main-subtitle {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #2b2b2b;
}

.r2 .main-subtitle {
  margin-bottom: 0.45rem;
}

.main-text {
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #3a8af7;
  font-family: "Airbnb Cereal App Bold";
  margin-bottom: 1.5rem;
}
.main-text .icon-pencil {
  margin-left: 1.1rem;
}

#cust-name {
  cursor: pointer;
}

.icon-pencil {
  font-size: 1.8rem;
  color: #d5d5d5;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.main-info-block {
  margin-bottom: 1.5rem;
  border-radius: 0.6rem;
  border: 1px solid #d5d5d5;
  padding: 1.95rem 2.5rem;
  width: 100%;
  box-shadow: 0px 0px 3px 1px rgba(213, 213, 213, 0.3);
}
.main-info-block .main-text {
  margin-bottom: 0;
}

.title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-block-title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.35rem;
}
.main-block-title img {
  width: 1.75rem;
  margin-right: 1.4rem;
}

.main-block-title .d-license {
  width: 2.8rem;
}

.main-block-subtitle {
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 0.2rem;
  color: #6b6b6b;
}

.inner-main-block {
  margin-top: 1.4rem;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

.number-block {
  margin-top: 1.4rem;
  width: 50%;
}
.number-block .main-text {
  margin-bottom: 0;
}

.license {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.license img {
  width: 25.73%;
}

#f-main-text {
  margin-bottom: 1.4rem;
}

.inner-title-block {
  display: flex;
  align-items: center;
  width: 71.3%;
}

#title-car {
  width: 42.12%;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  margin-right: 1.5rem;
}

.car-name {
  font-size: 1.6rem;
  line-height: 2.05rem;
  color: #2b2b2b;
  margin-bottom: 0.4rem;
  font-family: "Airbnb Cereal App Bold";
}

.car-info {
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #6b6b6b;
  margin-bottom: 1rem;
}
.car-info span {
  margin-right: 0.35rem;
}

.icon-car_2 {
  margin-left: 0.95rem;
}

.car-price {
  font-size: 1.2rem;
  line-height: 1.55rem;
  color: #6b6b6b;
}
.car-price span {
  font-size: 1.6rem;
  line-height: 2.05rem;
  color: #3a8af7;
  margin-left: 0.3rem;
}

.title-img-block {
  position: relative;
  padding-top: 19.7%;
  width: 22.72%;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  margin-right: 1.5rem;
}

#title-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.question-block {
  display: flex;
  align-items: center;
}

label {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
}
label .checkbox-btn {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
label:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #fc6464;
  margin-right: 1.9rem;
  border-radius: 2px;
}

.question {
  color: #fc6464;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-left: 1.9rem;
}

.checklist-block {
  border-radius: 0.6rem;
  width: 100%;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 0px 3px 1px rgba(213, 213, 213, 0.3);
}

.checklist-header {
  padding: 1.4rem 0 1.2rem 2.8rem;
  background-color: whitesmoke;
  display: flex;
}

.checklist-title {
  font-size: 1.6rem;
  line-height: 2.05rem;
  font-family: "Airbnb Cereal App Bold";
  margin-right: 5rem;
}

.checklist-body {
  padding: 1.75rem 3.3rem 2.5rem 2.8rem;
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.item-name {
  width: 9.3rem;
  margin-right: 5rem;
  font-size: 1.6rem;
  font-family: "Airbnb Cereal App Bold";
}

.item-btn {
  margin-right: 0.95rem;
  padding: 1.1rem 2.5rem;
  font-size: 1.5rem;
  font-family: "Airbnb Cereal App Bold";
  background-color: #fff;
  border: 1px solid #d5d5d5;
}

.custom-item {
  align-items: flex-start;
  margin-bottom: 0;
}
.custom-item .item-name {
  margin-top: 1rem;
}
.custom-item textarea {
  border: 1px solid #d5d5d5;
  width: 69.56%;
}

.car-settings-block {
  width: 48.77%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rent-time-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.8rem 2.6rem;
  background: linear-gradient(to right, #3a8af7, #53b2f8);
  border-radius: 2px;
}

.time-block {
  display: flex;
  align-items: center;
  width: 40.34%;
}

.icon-start {
  margin-right: 1.95rem;
  color: #fff;
  font-size: 3.6rem;
}

.icon-end {
  margin-right: 1.95rem;
  color: #fff;
  font-size: 3.6rem;
}

.time-text-block {
  color: #fff;
}

.time-title {
  font-size: 1.8rem;
  line-height: 2.35rem;
  margin-bottom: 0.9rem;
}

.time-text {
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-family: "Airbnb Cereal App Light";
}

.icon-between {
  font-size: 3.2rem;
  color: #3a8af7;
}

.custom-block {
  border: 1px solid #3a8af7;
  padding: 4rem 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-block .main-text {
  margin-bottom: 0;
}
.custom-block .custom-text {
  font-family: "American Typewriter Bold";
  font-size: 3.2rem;
  line-height: 3.95rem;
  padding: 1.05rem 3.35rem;
  border: 1px solid #3a8af7;
}

.img-block {
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
}
.img-block img {
  width: 66.87%;
  margin: auto;
}

.buttons-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.settings-btn {
  width: 46.85%;
  text-align: center;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #3a8af7;
  padding: 3.1rem 0;
  border-radius: 0.75rem;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
}

.left-btn {
  background-color: #d2e5ff;
}

.right-btn {
  background-color: #fff;
  border: 0.4rem solid #3a8af7;
}

.img-block.custom {
  height: 30rem;
}

.border-block {
  width: 89%;
  margin: 6rem auto 4.4rem;
  border-bottom: 1px solid #d5d5d5;
}

#main.right-btn {
  width: 31.25%;
  margin: auto;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

/* customers popup */
.customers-popup {
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.customers-popup .close-block {
  width: 51.95%;
  height: 100%;
}

.customers-popup.active {
  left: 0;
}

.customers-block {
  width: 48.05%;
  height: 100%;
  background-color: #fff;
  box-shadow: -10px -1px 33px 0 rgba(0, 0, 0, 0.4);
  padding: 4.15rem 4.15rem 4.8rem 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.customers-block .btn-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.customers-block .btn-block .add-btn {
  background: linear-gradient(to right, #f7b73a, #f8d353);
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.05rem;
  padding: 1.7rem 3.4rem;
  border-radius: 2px;
  font-family: "Airbnb Cereal App Bold";
}

.inner-cust-block {
  width: 100%;
}

.block-title {
  font-family: "Airbnb Cereal App Bold";
  font-size: 3rem;
  line-height: 3.95rem;
  margin-bottom: 1.75rem;
}

.customer-card-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 2.5rem 2.7rem;
  border: 1px solid #d5d5d5;
  box-shadow: 0 6px 5px 0 rgba(233, 233, 233, 0.16);
  border-radius: 2px;
  margin-bottom: 1.05rem;
}

.customer-card-block.active {
  border: 1px solid #3a8af7;
}

.customer-info {
  display: flex;
  align-items: center;
  width: 70%;
}

.user-icon {
  width: 6rem;
  height: 6rem;
  margin-right: 1.3rem;
}

.info-text-block {
  width: 69.11%;
}

.user-name {
  font-size: 1.8rem;
  line-height: 2.35rem;
  font-family: "Airbnb Cereal App Bold";
}

.info {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #d5d5d5;
}

.f-info {
  margin-right: 0.5rem;
}

.s-info {
  color: #53b2f8;
  margin-left: 0.5rem;
}

.select-btn {
  background-color: #fff;
  color: #979797;
  border: 1px solid #979797;
  padding: 1rem 3.1rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  border-radius: 1.8rem;
  font-family: "Airbnb Cereal App Bold";
  transition: all 0.3s ease;
}
.select-btn:hover, .select-btn.active {
  color: #fff;
  background: #3a8af7;
  border: 1px solid #3a8af7;
}

/* add customer popup */
.add-customer-popup {
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  min-height: 100%;
  overflow: scroll;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.add-customer-popup.active {
  left: 0;
}

.add-customer-block {
  padding: 6.2rem 9.2rem;
  background-color: #fff;
  border-radius: 1rem;
}
.add-customer-block .title {
  font-size: 3.3rem;
  line-height: 4.3rem;
  color: #414141;
  font-family: "Airbnb Cereal App Bold";
  margin: 0 auto 0.4rem;
  text-align: center;
}
.add-customer-block .subtitle {
  text-align: center;
  color: #a2a2a2;
  font-size: 2.4rem;
  line-height: 3.1rem;
  margin-bottom: 4.4rem;
}
.add-customer-block .form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.add-customer-block .form-row form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47.44%;
}
.add-customer-block .form-row form input, .add-customer-block .form-row form .upload-block {
  width: 75%;
  background-color: #f8f8f8;
  border: 1px solid #949494;
  border-radius: 2.5px;
  height: 4.05rem;
  font-size: 1.2rem;
  padding: 0 1.5rem;
}
.add-customer-block .form-row .input-name {
  font-size: 1.8rem;
  line-height: 2.35rem;
  font-family: "Airbnb Cereal App Bold";
  color: #414141;
}
.add-customer-block .form-row .upload-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-customer-block .form-row .upload-block p {
  color: #9f9f9f;
  font-size: 1.5rem;
  line-height: 1.95rem;
}
.add-customer-block .form-row .upload-block button {
  background: linear-gradient(to right, #f7b73a, #f8d353);
  padding: 0.65rem 2.7rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #fff;
  border-radius: 2px;
}
.add-customer-block .form-row .wide-form {
  width: 100%;
  align-items: flex-start;
}
.add-customer-block .form-row .wide-form textarea {
  width: 88%;
  background-color: #f8f8f8;
  border: 1px solid #949494;
  font-size: 1.2rem;
  padding: 1.5rem 1.5rem;
  height: 8rem;
  border-radius: 2.5px;
}
.add-customer-block .form-row .wide-form textarea:focus {
  outline: none;
}
.add-customer-block .border-block {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  margin: 5.5rem 0 4.15rem;
}
.add-customer-block .btns-block {
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-customer-block .btns-block button {
  padding: 1.7rem 0;
  width: 16rem;
  background: linear-gradient(to right, #f0f0f0, #f6f6f6);
  color: #949494;
  text-align: center;
  margin: 0 0.75rem;
  border-radius: 2px;
  font-family: "Airbnb Cereal App Bold";
  transition: all 0.3s ease;
}
.add-customer-block .btns-block button.active, .add-customer-block .btns-block button:hover {
  background: linear-gradient(to right, #3a8af7, #53b2f8);
  color: #fff;
  text-transform: uppercase;
}

/* edit numbers popup */
.edit-numbers-popup {
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.edit-numbers-popup.active {
  left: 0;
}

.edit-numbers-block {
  width: 81.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
  padding: 5rem 5rem 7.5rem;
}
.edit-numbers-block .close-btn-block {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.edit-numbers-block .close-btn-block .close-btn {
  width: 100%;
  height: 100%;
}
.edit-numbers-block .close-btn-block .close-btn:before, .edit-numbers-block .close-btn-block .close-btn:after {
  position: absolute;
  top: 50%;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d5d5d5;
}
.edit-numbers-block .close-btn-block .close-btn:before {
  transform: rotate(-45deg);
}
.edit-numbers-block .close-btn-block .close-btn:after {
  transform: rotate(45deg);
}
.edit-numbers-block .title {
  display: flex;
  align-items: center;
  font-size: 3rem;
  line-height: 3.9rem;
  color: #414141;
  font-family: "Airbnb Cereal App Bold";
  margin-bottom: 4rem;
}
.edit-numbers-block .title img {
  width: 2.4rem;
  margin-right: 1.3rem;
}
.edit-numbers-block .numbers-row {
  width: 72.63%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.edit-numbers-block .numbers-row .number-block {
  width: 47.11%;
  margin-top: 1.5rem;
}
.edit-numbers-block .numbers-row .number-block input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  padding: 1rem 1.9rem;
  font-family: "Airbnb Cereal App Bold";
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.edit-numbers-block .numbers-row .number-block .number-name {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #6b6b6b;
  margin-bottom: 0.7rem;
  font-family: "Airbnb Cereal App Bold";
}
.edit-numbers-block button {
  width: 23rem;
  padding: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
  border: 4px solid #3a8af7;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #3a8af7;
  margin-top: 5.65rem;
  background: #fff;
  font-family: "Airbnb Cereal App Bold";
}

/* password popup */
.password-popup {
  position: fixed;
  top: 0;
  left: -300%;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.password-popup.active {
  left: 0;
  z-index: 5;
}

.password-block {
  position: relative;
  width: 100.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
  padding: 8.5rem 5rem 10.3rem;
}
.password-block .close-btn-block {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.password-block .close-btn-block .close-btn {
  width: 100%;
  height: 100%;
}
.password-block .close-btn-block .close-btn:before, .password-block .close-btn-block .close-btn:after {
  position: absolute;
  top: 50%;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d5d5d5;
}
.password-block .close-btn-block .close-btn:before {
  transform: rotate(-45deg);
}
.password-block .close-btn-block .close-btn:after {
  transform: rotate(45deg);
}
.password-block .title {
  font-size: 3rem;
  line-height: 3.95rem;
  margin-bottom: 6.7rem;
}
.password-block input {
  width: 58.5%;
  padding: 1.5rem 1.5rem 0.2rem;
  font-size: 4.2rem;
  line-height: 5.5rem;
  background-color: #fff;
  border-radius: 3.5px;
  border: 1px solid #d5d5d5;
  margin-bottom: 7.6rem;
}
.password-block button {
  padding: 3rem 0;
  width: 42.55%;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(to right, #3a8af7, #53b2f8);
  font-family: "Airbnb Cereal App Bold";
  text-transform: uppercase;
}

@media screen and (min-width: 1366px) and (max-height: 650px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1366px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 6px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }

  .r2 {
    flex-direction: column;
  }

  .r-1 {
    flex-direction: column;
  }

  .main-title {
    margin-bottom: 1.5rem;
  }

  .customer-block {
    width: 100%;
  }

  .car-settings-block {
    width: 100%;
  }

  .buttons-block {
    margin: 1.5rem 0;
  }

  .custom-block {
    margin: 1.5rem 0;
  }

  .rent-time-block {
    margin-top: 1.5rem;
  }

  #main.right-btn {
    width: 100%;
  }

  .border-block {
    width: 100%;
    margin: 2.9rem auto 4.4rem;
  }

  .customers-block {
    width: 100%;
  }

  .customers-popup .customers-block {
    width: 100%;
  }
  .customers-popup .close-block {
    width: 0;
  }

  body {
    position: relative;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    z-index: 10;
    cursor: pointer;
  }
  .close-btn span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .close-btn span:before, .close-btn span:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: #000;
    border-radius: 1px;
  }
  .close-btn span:before {
    transform: rotate(-45deg);
  }
  .close-btn span:after {
    transform: rotate(45deg);
  }

  .add-customer-block {
    padding: 2rem;
  }
  .add-customer-block .form-row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .add-customer-block .form-row form {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .add-customer-block .form-row .wide-form textarea {
    width: 75%;
  }

  .edit-numbers-block {
    padding: 2rem;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .edit-numbers-block .numbers-row {
    width: 100%;
  }

  .password-block {
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  .password-block .title {
    text-align: center;
    width: 80%;
  }
  .password-block button {
    width: 80%;
  }
  .password-block input {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 6px;
  }

  .add-customer-block {
    width: 100%;
    height: 100%;
  }

  .password-block {
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
  }
  .password-block .title {
    text-align: center;
    width: 90%;
  }
  .password-block button {
    width: 90%;
  }
  .password-block input {
    width: 90%;
  }

  .edit-numbers-block .numbers-row {
    width: 90%;
    flex-wrap: wrap;
  }
  .edit-numbers-block .numbers-row .number-block {
    margin-top: 1.5rem;
    width: 100%;
  }
}